<div style="margin:auto;width:500px;height:150px; border:1px solid black;">
<div style="background-color:#96bf31;border-bottom:1px solid black;">
<center>Bonjour <h4>{{nom}}!</h4></center>
</div style="padding-bottom:15px;">
Votre inscription  a été soumis avec succès.
Nous vous reviendrons le plus rapidement possible.</div>
    