
{% extends 'cours/allCours.html.twig' %}
   {% block fonctionnalites %}{% endblock %}
	{% block campagne %}{% endblock %}
	{% block categories %}{% endblock %}
	{% block tabs %}{% endblock %}
	{% block share %}{% endblock %}
	{% block section %}{% endblock %}
	{% block temoignages  %}{% endblock %}


	{% block background %}
    
    {% endblock %}
    {% block barrier  %}
    
       <div style="width:100%;height:300px;background:linear-gradient(90deg,#096ea2,#96bf31);">
       <h1 style="padding-top:170px;padding-left:400px;color:white;">Démarrer votre campagne </h1>
       </div>
	   <div class="row" style="width:1000px;height:200px;margin-left:170px;margin-top:75px;">
	   <div class="col-md-4">
	   <i class="far fa-folder-open" style="font-size:60px;margin-left:120px;color:#053651;"></i>
	              <h4 class="h_demarrer">SOUMETTRE</h4>
				  <div>
<p class="p_demarrer">Déposer gratuitement votre campagne sur crowdedu.</p>		 
  </div>

	   </div>
	   <div class="col-md-4">
			  <i class="fas fa-sync-alt fa-spin" style="font-size:60px;margin-left:120px;color:#96bf31;"></i>


           <h4 class="h_demarrer">PRESENTATION</h4>
		   <div>
		   <p class="p_demarrer">Une bonne présentation est la qualité du succés.</p>
		   </div>
		   <a href="{{path('campagne')}}" class="btn" style="margin-left:50px;background-color:#96bf31;color:white;">Démarrer votre campagne</a>

	   </div>
	   <div class="col-md-4">
	   	   <i class="fas fa-chalkboard-teacher" style="font-size:60px;margin-left:100px;color:#053651;;"></i>
           <h4 class="h_demarrer">FORMATION</h4>
		   <div>
<p class="p_demarrer">Vous aurez accés à toute la formation dès que l'objectif est atteint.</p>		   </div>
	   </div>
	   </div>
	  <div class="row" style="width:1000px;height:500px;margin-left:170px;margin-top:110px;">
	  <h1 style="padding-top:25px;text-align:center;">CONSEIL À FAIRE POUR QUE VOTRE CAMPAGNE SOIT FINANCER RAPIDEMENT</h1>
	   <div class="col-md-4">
	   <i class="fas fa-user-tie" style="font-size:60px;margin-left:120px;color:#053651;"></i>
	              <h4 class="h_demarrer">Etre motivé</h4>
				  <div>
<p class="p_demarrer">Montrer à vos futurs contributeurs que vous êtes engagé et déterminé.</p>		 
  </div>

	   </div>
	   <div class="col-md-4">
	   	   <i class="fas fa-image" style="font-size:60px;margin-left:120px;color:#96bf31;"></i>

           <h4 class="h_demarrer">Une bonne photo</h4>
		   <div>
		   <p class="p_demarrer">Attirer vos contributeurs avec des images captivantes.</p>
		   </div>

	   </div>
	   <div class="col-md-4">
			  	   			  <i class="fas fa-video" style="font-size:60px;margin-left:120px;color:#053651;"></i>

           <h4 class="h_demarrer">Une vidéo</h4>
		   <div>
<p class="p_demarrer">Une vidéo bien expliquée vous permettra d'atteindre votre objectif le plus rapidement possible.</p>		   </div>
	   </div>
	   </div>

	   <div style="width:1000px;height:200px;margin-left:170px;margin-top:5px;margin-bottom:100px;">
	   	  <h1 style="padding-top:25px;text-align:center;">VOUS AVEZ BESOIN D'INSPIRATION
</h1>
<h3 style="text-align:center;">Regarder des campagnes qui ont été financées avec succès:
</h3>
		   <a href="{{path('allcampagnes')}}" class="btn" style="margin-left:415px;background-color:#96bf31;color:white;margin-top:20px;">Voir des campagnes</a>


	   </div>
               
        
{% endblock %}

